@inject Vehicles.API.Services.MenuMasterService menus

<ul class="navbar-nav flex-grow-1">

    @if (menus.GetMenuMaster().Any())
    {
        @foreach (var menuNames in menus.GetMenuMaster())
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="@menuNames.MenuURL" asp-action="Index">@menuNames.MenuName</a>
            </li>
        }
    }

</ul>



@*<ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Procedures" asp-action="Index">Procedures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="VehicleTypes" asp-action="Index">Vehicles Type</a>
            </li>
    </ul>*@